.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-link{
  margin-left: 100px;
  color: white;
}
.nav-link:hover{
  color: #CF7718;
}

.menu{
  background: black;
}

.imgNavbar{
  width: 10em;
}
.imgNavbar:hover{
  animation: animate 2s alternate infinite;
}
@keyframes animate {
  0%{
    transform: rotateX(0deg);
}
  50%{
    transform: rotateX(360deg);
}
  100%{
    transform: rotateX(0deg);
}
  
}
.cart{
  margin-left: 5em;
}

@media (max-width: 1010px){
  .cart{
    margin-left: 0;
  }
}
.numberPadre{
  position: relative;
}
.numberHijo{
  position: absolute;
  top: -15px;
  right: -10px;
  background: #76736f;
  border-radius: 119px;
  width: 20px;
  padding-left: 5px;

}
.parrafoCard{
  color: aliceblue;
}
