.nav-link{
  margin-left: 100px;
  color: white;
}
.nav-link:hover{
  color: #CF7718;
}

.menu{
  background: black;
}

.imgNavbar{
  width: 10em;
}
.imgNavbar:hover{
  animation: animate 2s alternate infinite;
}
@keyframes animate {
  0%{
    transform: rotateX(0deg);
}
  50%{
    transform: rotateX(360deg);
}
  100%{
    transform: rotateX(0deg);
}
  
}
.cart{
  margin-left: 5em;
}

@media (max-width: 1010px){
  .cart{
    margin-left: 0;
  }
}
.numberPadre{
  position: relative;
}
.numberHijo{
  position: absolute;
  top: -15px;
  right: -10px;
  background: #76736f;
  border-radius: 119px;
  width: 20px;
  padding-left: 5px;

}
.parrafoCard{
  color: aliceblue;
}

