@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root {
  --tittleblack: #000000;
}
.nav-link{
  margin-left: 40px;
  
}
.nav-link:hover{
  color: #000000;
}
.navbar-light .navbar-nav .linkk{
  color: #000000;
  position: relative;
  display: inline-block;
}
 .linkk:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: 4.5em;
  left: 0;
  background-color: rgb(0, 0, 0);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.navbar-nav .linkk:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.imgNavbar{
  width: 10em;
}
.imgNavbar:hover{
  animation: animate 2s alternate infinite;
}
@keyframes animate {
  0%{
    transform: rotateX(0deg);
}
  50%{
    transform: rotateX(360deg);
}
  100%{
    transform: rotateX(0deg);
}
  
}
.cart{
  margin-left: 0em;
}

@media (max-width: 1010px){
  .cart{
    margin-left: 0;
  }
  .navbar-nav .linkk:hover::after{
    transform: scaleX(0);
}

  

}
.numberPadre{
  position: relative;
}
.numberHijo{
  position: absolute;
  top: -15px;
  right: -10px;
  background: #76736f;
  border-radius: 119px;
  width: 20px;
  padding-left: 5px;

}
.parrafoCard{
  color: aliceblue;
}
.button{
  color: rgb(27, 30, 29);
  border: 1px solid rgb(24, 22, 22);
}
.cardd{
  background-color: rgb(26, 30, 33);
}
.itemList{
  display: flex;
  justify-content: center;
}
.itemListContainer{
  background: black;
}
.loading{
  color: azure;
  font-size: 2em;
}
.itemCount{
  background: black;
  width: 100%;
  margin: 0;
  height: auto;
}

.input-size {
  width: 5rem !important; 

}
/*CARD*/
.card-size{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: rgba(164, 160, 160, 0.408);
  color: black;
}
.card-size img{
  height: 15rem;
  object-fit: cover;
}

.card-title{
  color: var(--tittleblack);
  font-size: 1.2rem;
  text-align: center;
}
.card-btn:hover{
  color: aqua;
}
.btn-add {
  justify-items: center;
}
.card-bodyy{
  width: 300px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
  justify-content: center;
  box-shadow: 0 0 10px #000000;
  background-color: #ffffff;
}
.card img{
  width: 100%;
  margin: auto;
}
.header{
  margin-left: 50px;
  margin-right: 50px;
}